/* Regole css selettore universale */
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
/* fine */

/* Regole css elementi flottati + clearfix */
.float-l {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* fine */

/* Regole css per formattazione testo */
body {
    font-size: 16px;
}

.tar {
    text-align: right;
}

.c-black {
    color: black;
}

.c-white {
    color: white;
}

.c-grey {
    color: grey;
}

.c-bordeaux {
    color: #61082b;
}

.fw-500 {
    font-weight: 500;
}

/* regole css colori di background */
.bc-black {
    background-color: black;
}

.bc-green {
    background-color: #a2d39b;
}

.bc-bordeaux {
    background-color: #61082b;
}

.bc-azure {
    background-color: #0093ce;
}

.bc-red {
    background-color: #ff1c1c;
}

.bc-darkred {
    background-color: #d5001f;
}

.bc-skyblue {
    background-color: #b4d0e7;
}

.bc-blue {
    background-color: #0d2481;
}

.bc-yellow {
    background-color: #ffd830;
}

.bc-grey {
    background-color: #f5f5f5;
}

/* Regole css centrature */
.centering-70 {
    width: 70%;
    margin: auto;
}

.centering-80 {
    width: 80%;
    margin: auto;
}

.centering-90 {
    width: 90%;
    margin: auto;
}

/* Regole css per larghezze */
.w-16 {
    width: 16%;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.w-45 {
    width: 45%;
}

.w-50 {
    width: 50%;
}

.w-70 {
    width: 70%;
}

.h-50 {
    height: 50%;
}

.h-100 {
    height: 100%;
}

/* Regole generali ul */
header ul {
    list-style-type: none;
}

header a, section.first-section a, section.second-section .plans-data a.c-white, section.second-section .plans-row a, footer ul li a, footer .last-content-footer a {
    text-decoration: none;
}

/* Regole css hover */
header li:hover {
    border-bottom: 2.5px solid black;
}

.nob-b:hover{
    border-bottom: none; 
}

header .header-btn:hover, section.first-section a:hover, section.second-section .plans-data a.c-white:hover, section.second-section .plans-row a:hover {
    opacity: 0.8;
}

section.second-section .plans-data .buy-now:hover, section.fifth-section a:hover {
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.15rem;
    font-weight: 900;
}

section.third-section .third-section-txt a:hover, section.fifth-section .rectangle .fifth-s-begin a:hover {
    box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.2);
}

/* regole hover bordo per i quadrati */
section.fifth-section .pos-rel:hover {
    box-shadow: inset 0 0 0 1vh rgba(255, 255, 255, 0.5);
}

section.fifth-section .bc-grey:hover {
    box-shadow: inset 0 0 0 1vh rgba(0, 0, 0, 0.2);
}

/* regole hover sesta sezione */
section.sixth-section .text-wrapper p {
    display: none;
}

section.sixth-section .text-wrapper:hover p {
    display: block;
}

/* regole hover cambio arrow font awesome */
section.sixth-section .clearfix i:nth-child(3) {
    display: none;
}

section.sixth-section .text-wrapper:hover i:nth-child(2) {
    display: none;
}

section.sixth-section .text-wrapper:hover i:nth-child(3) {
    display: block;
} 