/* Regole css header */
header {
    height: 5vh;
    line-height: 4.8vh;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 1;
}

/* logo header */
header img {
    margin: 0 0 0 2vw;
    vertical-align: middle;
}

/* ul header di sinistra */
.img-header, ul, li {
    display: inline-block;
}

header ul {
    font-size: 0;
}

header li {
    font-size: 0.9rem;
    margin-left: 1.5vw;
}

/* ul header di destra */
header .header-btn {
    margin-right: 2vw;
    padding: 0.5vh 1vw;
}

/* fine regole header */

/* regole css main */
main {
    padding-top: 5vh;
}

/* regole css prrma sezione */
section.first-section {
    height: 75vh;
}

/* titolo prima sezione */
section.first-section h1 {
    font-size: 5rem;
    padding: 5vh 0 4vh;
}

/* regole testo prima sezione */
section.first-section .f-sect-txt {
    padding-right: 5%;
}

section.first-section p {
    font-size: 1rem;
    padding-bottom: 2vh;
}

section.first-section a {
    font-size: 1rem;
    padding: 0.5vh 1vw;
}

#padding-p {
    font-size: 0.8rem;
    padding: 2vh 0 4vh;
}

section.first-section i {
    font-size: 2.5rem;
    padding-bottom: 10vh;
}

/* regole img prima sezione */
section.first-section img {
    width: 100%;
}

/* Regole css seconda sezione */

/* regole titolo seconda sezione */
section.second-section .title-s-s {
    font-size: 3rem;
    padding: 20vh 0 4vh;
}

/* regole input e label seconda sezione */
input[type=radio] {
    transform: scale(1.5);
    margin-right: 0.3vw;
}

label {
    margin-right: 2vw;
}

/* regole margini elementi flottati */
.plans-f-column, .plans-s-column {
    margin-right: 5%;
}

section.second-section .table-columns {
    margin-top: 3vh;
}

/* regole formattazione piani di acquisto */
section.second-section .title-plans {
    padding: 0.5vh 0.5vw;
    text-align: center;
    border: 2px solid #ececed;
}

section.second-section .plans-data {
    border: 2px solid #ececed;
    padding-top: 2vh;
    height: 80vh;
}

section.second-section .plans-data * {
    padding: 0.5vh 0;
}

section.second-section .plans-data h1 {
    font-size: 1.5rem;
}

section.second-section .plans-data .costo {
    font-weight: bold;
    font-size: 1rem;
}

section.second-section .plans-data .month {
    font-size: 0.8rem;
    padding-bottom: 3vh;
}

section.second-section .plans-data .f-a-txt {
    font-size: 1rem;
}

section.second-section .plans-data a.c-white {
    font-size: 1rem;
    display: block;
    text-align: center;
    margin: 3vh 0 2vh;
}

section.second-section .plans-data .opt-buy-now {
    font-size: 1rem;
    margin-bottom: 4vh;
}

section.second-section .plans-data span {
    border-bottom: 2px solid #ececed;
    padding-bottom: 2vh;
}

section.second-section .plans-data .buy-now {
    color: #0061ff;
}

section.second-section .plans-data h2 {
    font-size: 1rem;
}

section.second-section .plans-data li {
    display: block;
}

section.second-section .plans-data .list-plans i {
    color: #0061ff;
}

section.second-section .plans-data .list-plans li {
    font-size: 1rem;
}
/* fine regole tabelle */

/* regole riga piani */

section.second-section .plans-row {
    margin-top: 5vh;
}

section.second-section .plans-row .title-plans-row {
    padding: 0.5vh 0.5vw;
    text-align: center;
    border: 2px solid #ececed;
}

section.second-section .plans-row .container-plans-row {
    border: 2px solid #ececed;
}

section.second-section .plans-row .c-plans-row {
    margin: 3vh 0 2vh;
    line-height: 3.5vh;
}

section.second-section .plans-row .title-ent {
    font-size: 2rem;
}

section.second-section .plans-row a {
    font-size: 1rem;
    padding: 0.5vh 3vw;
}

section.second-section .plans-row h3 {
    font-size: 1.3rem;
    margin-bottom: 2vh;
}

section.second-section .plans-row .marg-bott-p p {
    font-size: 1rem;
    margin-bottom: 2vh;
}

/* inizio regole terza sezione */
section.third-section {
    margin: 15vh 0 10vh;
}

section.third-section .w-50 {
    margin-right: 5%;
}

section.third-section img[src*=partner] {
    width: 100%;
}

section.third-section .third-section-txt h2 {
    font-size: 2rem;
}

section.third-section .third-section-txt p {
    font-size: 1rem;
    margin: 3vh 0 3vh;
}

section.third-section .third-section-txt a {
    font-size: 1rem;
    border: 1px solid black;
    padding: 0.5vh 1.5vw;
    text-decoration: none;
}
/* fine regole terza sezione */

/* regole css quarta sezione */
section .fourth-section {
    margin: 5vh 0 10vh;
}

section.fourth-section h2 {
    font-size: 3.4rem;
    margin-bottom: 5vh;
}

.fourth-section-marg-b {
    margin-bottom: 8vh;
}

.fourth-section-marg-l {
    margin-right: 5%;
}

/* regole css dimensionamento immagini quarta sezione */
section.fourth-section .image-wrapper {
    width: 100%;
    margin-bottom: 2vh;
}

section.fourth-section img[src*=sines] {
    width: 100%;
}
/* fine */

section.fourth-section h3 {
    font-size: 2.5rem;
    margin-bottom: 2vh;
}

section.fourth-section p {
    font-size: 1rem;
    padding-bottom: 5vh;
}

/* regole quinta sezione */
section.fifth-section {
    margin: 5vh 0 5vh;
}

section.fifth-section .first-title {
    font-size: 3.4rem;
    margin-bottom: 2vh;
    max-width: 65%;
}

section.fifth-section .link-discover {
    color: #0061ff;
    font-size: 1rem;
}

/* regole quinta sezioni quadrati */
section.fifth-section .square {
    margin-top: 5vh;
    height: 50vh;
}

.pos-rel {
    position: relative;
}

section.fifth-section .lateral-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 50%;
    filter: invert(1);
}

section.fifth-section .bc-grey .logo-wrapper{
    width: 30%;
    padding: 5vh 0;
}

section.fifth-section .bc-grey .logo-wrapper img {
    width: 100%;
}

section.fifth-section .bc-grey p:nth-child(2) {
    padding-bottom: 2vh;
}

/* regole quinta sezione rettangolo */

section.fifth-section .rectangle {
    padding: 10vh 0;
    margin-bottom: 5vh;
}

section.fifth-section .rectangle .fifth-s-begin {
    margin-top: 0.5vh;
}

section.fifth-section .rectangle .fifth-s-begin a {
    font-size: 1rem;
    background-color: white;
    padding: 0.5vh 3vw;
    text-decoration: none;
    border: 1px solid black;
}

section.fifth-section .c-bordeaux {
    font-size: 3.4rem;
    margin-bottom: 2vh;
    max-width: 40%;
}
/* fine quinta sezione */

/* regole sesta sezione */
section.sixth-section {
    margin-top: 10vh;
}

/* regole titolo resta sezione */
section.sixth-section h2 {
    font-size: 2rem;
    margin-bottom: 3vh;
}

/* regole contenitore testo */
section.sixth-section .text-wrapper {
    padding: 2vh 0;
    border-top: 2px solid #ececed;
    border-bottom: 2px solid #ececed;
}

section.sixth-section .text-wrapper h3 {
    font-size: 1.3rem;
}

section.sixth-section .text-wrapper p {
    margin-top: 2vh;
    max-width: 70%;
}

section.sixth-section .text-wrapper i {
    font-size: 2rem;
    padding: 0 2.5%;
}

/* regole footer */
footer {
    margin-top: 10vh;
    padding-bottom: 7vh;
}

footer .float-l {
    margin-top: 7vh;
}

footer .margin-r {
    margin-right: 5%;
}

footer h3 {
    font-size: 1.3rem;
    margin-bottom: 1vh;
}

footer ul li {
    display: block;
    margin-bottom: 0.5vh;
}

footer ul li:last-child {
    margin-bottom: 8vh;
}

footer .clearfix div:first-child {
    border-bottom: 1px solid white;
}

/* ragole last content footer */

footer .last-content-footer {
    padding-top: 3vh;
}